<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ai5p</key>
	<string>apcn</string>
	<key>ai5q</key>
	<string>apcn</string>
	<key>ai56</key>
	<string>apcn</string>
	<key>ai55</key>
	<string>apcn</string>
	<key>ai53</key>
	<string>apcn</string>
	<key>ai52</key>
	<string>apcn</string>
	<key>ai1p</key>
	<string>apcn</string>
	<key>ai1q</key>
	<string>apcn</string>
	<key>ai16</key>
	<string>apcn</string>
	<key>ai15</key>
	<string>apcn</string>
	<key>ai13</key>
	<string>apcn</string>
	<key>ai12</key>
	<string>apcn</string>
	<key>dvhq</key>
	<string>apcn</string>
	<key>dvh6</key>
	<string>apcn</string>
	<key>dvh5</key>
	<string>apcn</string>
	<key>dvh3</key>
	<string>apcn</string>
	<key>dvh2</key>
	<string>apcn</string>
	<key>mx3n</key>
	<string>apcn</string>
	<key>mx4n</key>
	<string>apcn</string>
	<key>mx5n</key>
	<string>apcn</string>
	<key>mx3p</key>
	<string>apcn</string>
	<key>mx4p</key>
	<string>apcn</string>
	<key>mx5p</key>
	<string>apcn</string>
	<key>icod</key>
	<string>apcn</string>
	<key>aivx</key>
	<string>apcn</string>
	<key>dvhp</key>
	<string>apcn</string>
	<key>dvcp</key>
	<string>apcn</string>
	<key>ap4h</key>
	<string>ap4h</string>
	<key>rle </key>
	<string>ap4h</string>
	<key>avc1</key>
	<string>avc1</string>
	<key>SVQ1</key>
	<string>avc1</string>
	<key>apcn</key>
	<string>apcn</string>
	<key>apch</key>
	<string>apcn</string>
	<key>avc </key>
	<string>avc </string>
	<key>SVQ3</key>
	<string>avc </string>
	<key>2vuy</key>
	<string>apcn</string>
	<key>png </key>
	<string>ap4h</string>
	<key>tiff</key>
	<string>ap4h</string>
</dict>
</plist>
